---
import ProjectCard from "../components/ProjectCard.astro"

import posImg from "../assets/pos-photo.png"

const projectDesciption = `All of the pages and components are first designed in Figma and we
keep a parity between the two versions even as we update the project.`
---

<section class="w-full h-auto grid place-content-center py-16 sm:py-4">
  <article
    class="max-w-xl h-8 flex justify-start items-center gap-x-4 mt-16 sm:mt-4 md:mt-8"
  >
    <div class="w-auto h-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="w-full"
        height="h-full"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-code"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M7 8l-4 4l4 4"></path><path d="M17 8l4 4l-4 4"></path><path
          d="M14 4l-4 16"></path></svg
      >
    </div>

    <h2 class="text-2xl font-semibold">Projects</h2>
  </article>

  <article class="max-w-xl h-auto flex flex-col items-center">
    <ProjectCard
      projectImg={posImg.src}
      projectTitle="POS - Point of Sale"
      projectDesc={projectDesciption}
    />
    <ProjectCard
      projectImg={posImg.src}
      projectTitle="POS - Point of Sale"
      projectDesc={projectDesciption}
    />
    <ProjectCard
      projectImg={posImg.src}
      projectTitle="POS - Point of Sale"
      projectDesc={projectDesciption}
    />
  </article>
</section>

<!-- <article
    class="max-w-xl h-auto flex justify-start items-center gap-x-4 mt-6 sm:mt-4 md:mt-6"
  >
    <div class="w-full h-auto flex">
      <div
        class="max-w-72 h-auto rounded-3xl border border-gray-500 p-1 overflow-hidden"
      >
        <img src={posImg.src} alt="pos-screenshot" class="object-cover" />
      </div>
      <div class="w-full flex flex-col justify-around px-2">
        <h3 class="text-xl font-bold text-left block">POS - Point of Sale</h3>
        <div class="flex gap-x-1">
          <ReactIcon />
          <TailwindIcon />
          <FirebaseIcon />
          <ViteIcon />
        </div>
        <p class="text-md font-medium break-words"></p>
      </div>
    </div>
  </article> -->
