---
import ProjectCard from "../components/ProjectCard.astro"
import posTickImg from "../assets/posttick.png"
import addedNote from "../assets/added-notes.png"
import landv2 from "../assets/landv2.png"
import posLanding from "../assets/landing.png"
import SaasIcon from "../icons/SaasIcon.astro"

const technologies1 = [
  { name: "node", title: "Node.js" },
  { name: "express", title: "Express.js" },
  { name: "javascript", title: "JavaScript" },
  { name: "tailwind", title: "Tailwind CSS" }
]

const technologies2 = [
  { name: "astro", title: "Astro" },
  { name: "tailwind", title: "Tailwind CSS" },
  { name: "javascript", title: "JavaScript" },
  { name: "typescript", title: "TypeScript" }
]

const backDescription = `I'm using Socket.io for real-time communication. Which means that multiple users can open the project and see the same data (Post Ticks) in real-time.`

const landingDescription = `I wanted to explore Astro because of the optimization it provides. I also used Tailwind CSS for styling and TypeScript for type safety.`
---

<section class="w-full h-auto grid place-content-center py-16 sm:py-4">
  <article
    class="max-w-xl h-8 flex justify-start items-center gap-x-4 mt-16 sm:mt-4 md:mt-8"
  >
    <div class="w-auto h-8">
      <SaasIcon />
    </div>
    <h2 class="text-2xl font-semibold" data-translate="projects">Projects</h2>
  </article>

  <article class="max-w-xl h-auto flex flex-col items-center">
    <ProjectCard
      projectImg={addedNote.src}
      projectTitle="Post Tick"
      projectDesc={backDescription}
      technologies={technologies1}
      projectUrl="https://project-back-end-ahwi.onrender.com/"
    />
    <ProjectCard
      projectImg={landv2.src}
      projectTitle="Landing P"
      projectDesc={landingDescription}
      technologies={technologies2}
      projectUrl="https://pos-landing-astro.netlify.app/"
    />
  </article>
</section>
